
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* sheard style */
.common-description{
  font-size: 24px;
  font-weight: 400px;
  color: #25243277;

}
.primary-btn{
  
  align-items: center;
  background-color: #4e47ff;
  padding: 5px 30px;
  font-weight: 700px;
  font-size: 20px;
  border: 2px solid;
  border-radius: 10px;
  color: #FFFFFF;
  

}


/* header section */
.header-container{
  background-image: url(../Assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  height:700px;
  width: 100%;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 1100px;
    margin: 0 auto;
}
.title{
  align-items: center;
  color: #4e47ff;
  font-weight: 900px;
  font-size: 35px;
}

.banner{
  margin: auto;
  margin-top: 150px;
  padding: 0 0 0 30px;
   width: 850px;
   height: 340px;
  
}
.banner-title{
  text-align: center;
  font-weight: 700px;
  font-size: 66px;
  margin: 0 auto;
  padding-left: 35px;
 
}
.stay-focused{
  padding: 10px 20px;
  text-align: center;
  margin-top: 37px;
}
  
main{
  width: 1100px;
  margin: 0 auto;
}
/* action section style */
  
.action-container{
  display: flex;
  justify-content: space-between;
   height: 320px;
    width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
   
  
}
.title-container{
    width: 400px;
   height: 326px;
   
}
.action-title{
  font-size: 43px;
   font-weight: 700px;
   color: #252432;
   align-items: center;

}
.action-img{
  width: 400px;
  height: 320px;
  /* border: 2px solid; */
  border-radius: 45px;
}

/* productive users style */
.product-container{
  width: 950px;
  
  margin: 0 auto;
  background-color: #e5e7ff;
  border-radius: 24px;
  margin-top: 80px;
  padding: 0 80px;
  text-align: center;
}
.thousand-title{
  font-size: 43px;
   font-weight: 700px;
   color: #252432;
   align-items: center;
   padding-top: 30px;
}
.product-flex{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.productive-sub-title{
  font-size: 80px;
  font-weight: 700px;
  color: #4e47ff;
  
}

 /* <!-- what section styles --!> */


.users-say{
    align-items: center;
    font-size: 42px;
    font-weight: 700px;
    padding-left: 380px;
    margin-top: 50px;
   
    
}
.card-container{
  display: flex;
  gap: 30px;
  /* height: 500px; */
} 
 .card{
  background-color: #fafcff;
  height: 240px;
  width: 310px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
 }

.date{
  color: #757575;
}

.avater-img{
  height: 40px;
  width: 40px;
  border-radius: 60%;
}

.picture{
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-description{
  color: rgba(0, 0, 0, 0.815);
}

/* rady section styles */

.rady-title{
  font-size: 50px;
  font: weight 700px; 
 text-align: center;
  
}
.rady-container{
  height: 650px;
  align-items: center;
  padding: 0 150px;
  text-align: center;
}
.rady-btn{
  text-align: center;
}
.Ready-img{
  border-radius: 45px;
  margin-top: 30px;
  

}

/* lets section styles */
.lets-container{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.lets-title{
  font-size: 97px;
  font-weight: 700px;
  padding-left: 50px;
  
}
.form-container{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 800px;
  /* margin: auto; */
}
.form-group{
  margin-bottom: 15px;
}
.email-field{
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.name-field{
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

label{
  display: block;
  margin-bottom: 5px;
  
}
textarea{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}
button{
  padding: 10px 110px;
  background-color: #4e47ff;;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
button:hover {
  background-color: #4cae4c;
}
 /* footer styles */
 .footer-container{
  background-color: #e5e7ff;
  height: 400px;
 }
 .footer-title{
  font-weight: 900px;
  font-size: 100px;
  color: #4e47ff;
  text-align: center;
 }
 footer ul li{
  list-style: none;
  gap: 20px;
  
 }
 footer ul{
  display: flex;
  justify-content: center;
   gap: 40px;
   color: #25243277;
   

 }
 footer p{
  text-align: center;
 }
 footer div ul li a{
  text-align: center;
  
 }